.logo {
  margin: 10px 20px;
  width: 39px;
  height: 39px;

  /* margin-left: 10px; */
}

.text {
  /* margin: 10.5px 60px; */
  /* padding: 0; */
  /* height: 39px; */

  margin: -40px 90px;
  position: absolute;

  width: 73px;
  /* margin-left: 30px; */
  /* margin-top: -64px; */
}