.descriptions {
    /* border: 1px solid; */
    /* border-color: black; */
    /*border-left:  1px solid #000000  !important;*/  /* 输入框灰色右划线 */
    border-bottom: 3px solid #000000 !important;  /* 输入框黑色下划线 */
    /*border-right: 1px solid #7c7c7c21  !important;*/  /* 输入框灰色右划线 */

    padding: 0px 15px;
    padding-top: 15px;
}